{{ define "main" }}
<div class="hero">
    <div class="hero-body has-text-large has-text-centered">
        <p class="title">{{ .Title | markdownify }}</p>
        <p class="subtitle mb-4 is-size-6">{{ .Date.Format "02.01.2006" }}</p>
        {{- range .Params.tags }}
        <p class="tag">{{ . }}</p>
        {{- end}}
    </div>
</div>
<div>
    <hr class="mt-0">
</div>

<div class="container content mb-5">
    {{ .Content}}
</div>

<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta name="description" content="{{ if .Params.excerpt }}{{ .Params.excerpt }}{{ else }}{{ .Content | truncate 100 }}{{ end }}
" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="og:description" content="{{ if .Params.excerpt }}{{ .Params.excerpt }}{{ else }}{{ .Content | truncate 100 }}{{ end }}
" />
<meta name="twitter:description" content="{{ if .Params.excerpt }}{{ .Params.excerpt }}{{ else }}{{ .Content | truncate 100 }}{{ end }}
" />
<meta name="twitter:url" content="{{ .Permalink }}" />

{{ end }}