<script src="https://kit.fontawesome.com/56ed2b6624.js" crossorigin="anonymous"></script>

<div style="font-size: 1.5rem">
    <a href="https://www.instagram.com/loaiza.filosofia"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://hcommons.social/@juanrloaiza"><i class="fa-brands fa-mastodon"></i></a>
    <a href="http://www.juanrloaiza.com/"><i class="fa-solid fa-user"></i></a>
</div>

<style>
    a {
        color: black;
        margin: 0 0.2rem;
    }

    a:hover {
        color: #666
    }
</style>